@import 'styles/variables.scss';

.header {
  width: 100%;
  position: fixed;

  background-color: transparent;
  box-shadow: 0 5px 10px rgba($color: #000000, $alpha: 0.2);

  &__content {
    height: 90px;

    padding: 0 $side-padding;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    padding: 3px;

    font-size: 26px;
    font-weight: 400;
    color: $main-accent;
    text-shadow: 2px 2px 2px rgba($color: #000000, $alpha: 0.5);
    line-height: 1;
  }
}
