@import 'styles/variables.scss';

.info {
  @extend %section-padding;

  &__header {
    margin: 0;
    padding-bottom: $font-size * 1.5;

    font-size: $header-size;
    font-weight: 400;
    border-bottom: 1px solid $slight-border;
  }

  &__subheader {
    margin: 0;
    padding: $gap 0 $font-size * 2;

    font-size: $header-size * 0.7;
    font-weight: 500;
  }

  &__list {
    margin-top: $font-size * 1.5;
    padding-left: $font-size;

    font-size: $font-size * 1.1;
    list-style: square;

    li {
      padding-top: $font-size / 2;
    }
  }

  &__columns {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: $gap;
  }

  ul {
    list-style: outside;
    padding-left: $font-size * 2;
  }

  p {
    margin: $font-size 0;
    text-indent: $font-size * 2;
  }

  li {
    margin: $font-size / 4;
  }

  p,
  li {
    line-height: 1.5;
    text-align: justify;
  }

  &__quote {
    margin: $font-size 0 0 auto;
    padding-right: $font-size;
    max-width: 450px;

    text-align: right;
    font-size: $font-size * 0.9;
    color: $dim-text;
    line-height: 1.5;
    border-right: 5px solid $slight-border;
  }
}
