@import 'styles/variables.scss';

.header {
  margin-bottom: $side-padding;
  text-align: center;

  &__title {
    margin: 0 0 6px;

    color: $main-accent;
    font-size: ($font-size * 1.625);
    font-weight: 700;
    font-style: italic;
    text-transform: uppercase;
  }

  &__subtitle {
    margin: 0 0 18px;

    color: $main-text;
    font-size: ($font-size * 2);
    font-weight: 700;
    text-transform: uppercase;
  }

  &__landmark {
    display: block;
    width: 24px;
    margin: 0 auto;

    color: $main-text;
  }
}
