@import 'styles/variables.scss';

.hero {
  width: 100%;
  height: 500px;

  background-position: 50% 0;
  background-size: cover;
  background-repeat: no-repeat;

  &_type {
    &_projects {
      background-image: url('/images/projects_hero.jpg');
    }

    &_research {
      background-image: url('/images/research_hero.jpg');
    }
  }
}
