.lightbox {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgba($color: #000000, $alpha: 0.75);

  &__image-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-content: center;
  }

  &__image {
    max-width: 80vw;
    max-height: 80vh;
  }

  &__text {
    margin-top: 6px;

    color: #fff;
    font-size: 16px;
  }

  &__icon {
    color: #fff;
    opacity: .5;
    transition: all 200ms ease-out;
    cursor: pointer;

    &:hover {
      opacity: 1;
    }

    &_left, &_right {
      width: 20px;
      position: absolute;

      path {
        border: 5px solid red;
      }
    }

    &_left {
      left: 24px;
    }

    &_right {
      right: 24px;
    }

    &_close {
      width: 15px;
      align-self: flex-end;
      margin-bottom: 6px;
    }
  }
}
