@import 'styles/variables.scss';

.project {
  @extend %section-padding;

  &__info {
    border-bottom: 1px solid $slight-border;
  }

  &__description {
    margin: $font-size 0 $font-size * 2;

    font-size: $font-size * 1.1;
    text-align: justify;
  }

  &__type {
    font-style: italic;
  }
}
