@import 'styles/variables.scss';

.hero {
  width: 100%;
  height: 75vh;
  padding: 0 $side-padding;
  display: flex;
  justify-content: center;
  align-items: center;

  background: url('/images/moscow_hero.jpg') 50% 20% / cover no-repeat;

  &__text {
    text-align: center;
    color: $main-bright;
  }

  &__title {
    margin: 0;
    padding: 0 12px;
    display: inline-block;

    background-color: $main-accent;
    font-weight: 700;
    font-size: 40px;
    text-transform: uppercase;
  }

  &__subtitle {
    margin: 6px 0 0;

    font-size: 60px;
    font-weight: 400;
    text-transform: uppercase;
  }

  &__age {
    margin: 32px 0;

    font-size: 20px;
  }
}
