@import 'styles/variables.scss';

.about {
  @extend %module-padding;
  background-color: $dark-bg;
  color: $main-bright;

  &__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: $gap;

    @include mediaMax('lg') {
      gap: $gap / 1.5;
      grid-template-columns: repeat(2, 1fr);
    }

    @include mediaMax('md') {
      grid-template-columns: auto;
    }
  }

  &__column {
    min-width: 272px;

    &:last-child {
      @include mediaMax('lg') {
        grid-column: 1 / 3;
      }

      @include mediaMax('md') {
        grid-column: auto;
      }
    }
  }

  &__heading {
    font-weight: 450;
    margin: 0 0 $font-size;
  }

  &__text {
    line-height: 1.65;
  }

  &__links {
    line-height: 2;
  }

  &__link {
    color: $main-accent;
  }

  &__map {
    @include mediaMax('sm') {
      margin-left: -$side-padding / 2;
      margin-right: -$side-padding / 2;
    }
  }
}
