@import 'styles/variables.scss';

.about {
  @extend %module-padding;
  background-color: $dark-bg;
  color: $main-bright;

  &__container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: $gap;

    @include mediaMax('lg') {
      gap: $gap / 1.5;
    }
  }

  &__column {
    min-width: 280px;
  }

  &__heading {
    font-weight: 450;
    margin: 0 0 $font-size;
  }

  &__text {
    line-height: 1.65;
  }

  &__links {
    line-height: 2;
  }

  &__link {
    color: $main-accent;
  }
}
