@import 'styles/variables.scss';

.mobile-menu {
  display: none;

  &__button {
    display: none;
  }

  @include mediaMax('lg') {
    width: 300px;
    height: 100vh;
    padding: $gap / 2;

    position: absolute;
    top: 0;
    right: 0;
    display: block;

    transition: all 200ms linear;
    background-color: $menu-bg;

    &__list {
      display: flex;
      flex-direction: column;
      gap: $gap / 5;
    }

    &__link {
      display: flex;
      height: 100%;

      padding: 12px;

      border: 1px solid transparent;
      border-radius: 4px;

      color: $main-bright;
      font-size: 16px;
      font-weight: 600;
      text-transform: uppercase;
      letter-spacing: 1px;

      transition: color 200ms;

      &:hover {
        color: $main-accent;
        border-bottom-color: transparent;
      }

      &:focus-visible {
        @include focus-outline($main-bright);
      }
    }

    &__button-item {
      width: 100%;
      justify-content: space-between;

      background-color: transparent;
      font-family: inherit;
      cursor: pointer;

      &::after {
        content: '▼';
      }

      &_active {
        background-color: $menu-bg-darker;
      }
    }

    &__button {
      padding: 0;
      margin-left: auto;
      display: block;

      background-color: transparent;
      border: 0;

      cursor: pointer;

      &-icon {
        width: 28px;
        height: 28px;

        color: rgba($main-bright, .5);
        transition: all 200ms ease-out;

        &:hover {
          color: $main-bright;
        }
      }
    }
  }
}

.mobile-sub-menu {
  display: flex;
  flex-direction: column;
  gap: $gap / 3;
  padding: 0 20px;

  background-color: $menu-bg-darker;
  transition: all 400ms ease-out;
  max-height: 0;
  opacity: 0;
  visibility: hidden;

  &_visible {
    max-height: 600px;
    padding: 12px 20px;

    opacity: 1;
    visibility: visible;
  }

  &__link {
    display: block;
    padding: 8px 0;

    border: 0;
    background-color: transparent;

    color: $main-bright;
    font-family: inherit;
    font-size: inherit;
    transition: all 200ms ease-out;

    &:hover {
      color: $main-accent;
    }

    &:focus-visible {
      @include focus-outline($main-bright);
    }

    &_accent {
      width: max-content;
      text-transform: uppercase;
      font-weight: 600;
    }
  }
}

.hidden {
  opacity: 0;
  transform: translateX(300px);
}

.visible {
  opacity: 1;
  transform: translateX(0);
}
