@import 'styles/variables.scss';

.gallery {
  max-width: 2560px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 32px;

  margin: 0 auto;

  @include mediaMax('xl') {
    grid-template-columns: repeat(3, 1fr);
  }

  @include mediaMax('lg') {
    grid-template-columns: repeat(2, 1fr);
  }

  @include mediaMax('sm') {
    grid-template-columns: auto;
  }

  &__image-container {
    position: relative;

    font-size: 0;
  }

  &__text {
    margin: 6px 0 0;
  }

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgba($color: #000000, $alpha: 0.5);
    border: 0;
    opacity: 0;
    transition: all 300ms ease-out;
    cursor: pointer;

    &:hover {
      opacity: 1;
    }
  }

  &__overlay-icon {
    width: 50px;
    color: #fff;
  }
}

.hidden {
  opacity: 0;
}

.visible {
  opacity: 1;
}

.lightbox {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 2;
  background-color: rgba($color: #000000, $alpha: 0.75);
  transition: opacity 200ms ease-out;

  &__image-container {
    margin: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-content: center;
  }

  &__image {
    max-width: 80vw;
    max-height: 90vh;

    @include mediaMax('sm') {
      max-width: 100%;
    }
  }

  &__text {
    padding: 6px;

    color: #fff;
    font-size: 16px;
    text-align: center;
  }

  &__button {
    border: 0;
    cursor: pointer;

    &:disabled {
      cursor: auto;

      .lightbox__icon {
        color: rgba($color: #fff, $alpha: 0.3);
      }
    }

    &:hover:not(:disabled) .lightbox__icon {
      opacity: 1;
    }

    &_close {
      position: absolute;
      right: 0;
      top: 0;
      width: 100px;
      height: 100px;

      background-color: transparent;
      border-bottom: 1px solid rgba($color: #fff, $alpha: 0.2);
      z-index: 3;

      @include mediaMax('lg') {
        width: 75px;
        height: 75px;
        border-bottom: 0;
      }

      @include mediaMax('sm') {
        top: 75px;
      }
    }

    &_left,
    &_right {
      width: 100px;
      height: 100vh;
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;

      background-color: rgba($color: #000000, $alpha: 0.2);
      z-index: 2;

      @include mediaMax('lg') {
        width: 75px;
      }

      @include mediaMax('md') {
        height: 75px;
        bottom: 75px;

        background-color: rgba($color: #000000, $alpha: 0.5);
      }
    }

    &_left {
      left: 0;
    }

    &_right {
      right: 0;
    }
  }

  &__icon {
    color: #fff;
    opacity: 0.65;
    transition: all 200ms ease-out;

    &_left,
    &_right {
      width: 24px;
    }

    &_close {
      width: 24px;
      margin: 6px 0;
    }
  }
}
