.gallery {
  max-width: 2560px;
  display: grid;
  grid-template-columns: repeat(4, minmax(400px, 1fr));
  gap: 32px;

  margin: 0 auto;

  &__image-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 66.6%;
  }

  &__text {
    margin: 6px 0 0;
  }

  &__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgba($color: #000000, $alpha: 0.5);
    border: 0;
    opacity: 0;
    transition: all 300ms ease-out;
    cursor: pointer;

    &:hover {
      opacity: 1;
    }
  }

  &__overlay-icon {
    width: 50px;
    color: #fff;
  }
}

.hidden {
  opacity: 0;
}

.visible {
  opacity: 1;
}

.lightbox {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 2;
  background-color: rgba($color: #000000, $alpha: 0.75);
  transition: opacity 200ms ease-out;

  &__image-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-content: center;
  }

  &__image {
    max-width: 80vw;
    max-height: 80vh;
  }

  &__text {
    margin-top: 6px;

    color: #fff;
    font-size: 16px;
  }

  &__button {
    border: 0;
    cursor: pointer;

    &:disabled {
      cursor: auto;

      .lightbox__icon {
        color: rgba($color: #fff, $alpha: 0.3);
      }
    }

    &:hover:not(:disabled) .lightbox__icon {
      opacity: 1;
    }

    &_close {
      position: absolute;
      right: 0;
      top: 0;
      width: 100px;
      height: 100px;

      background-color: transparent;
      border-bottom: 1px solid rgba($color: #fff, $alpha: 0.2);
      z-index: 3;
    }

    &_left, &_right {
      width: 100px;
      height: 100vh;
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;

      background-color: rgba($color: #000000, $alpha: 0.2);
      z-index: 2;
    }

    &_left {
      left: 0;
    }

    &_right {
      right: 0;
    }
  }

  &__icon {
    color: #fff;
    opacity: .65;
    transition: all 200ms ease-out;

    &_left, &_right {
      width: 24px;
    }

    &_close {
      width: 24px;
      margin: 6px 0;
    }
  }
}
