@import 'styles/variables.scss';

.contacts {
  @extend %section-padding;

  &__columns {
    padding-bottom: $vertical-padding / 2;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: $gap / 2;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: $gap / 2;
  }

  &__list-item {
    display: flex;
    align-items: center;
    gap: $gap / 2;
  }

  &__icon {
    width: 40px;
    height: 40px;
    flex-shrink: 0;
  }

  &__item-title {
    margin: 0 0 8px;
  }

  &__item-text {
    margin: 0;
    line-height: 1.5;
  }
}
