@import 'styles/variables.scss';

.featured {
  @extend %module-padding;
  background-color: $secondary-bg;

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: $gap;
  }

  &__item {
    flex: 1;
    min-width: 300px;
    max-width: 500px;

    background-color: #fff;
    border-radius: 7px;
  }

  &__image-container {
    display: block;

    border: 0;
    overflow: hidden;
  }

  &__image {
    @extend %zoom-effect;

    display: block;
    max-width: 100%;
    object-fit: cover;
  }

  &__text {
    padding: 24px;

    text-align: center;
  }

  &__description {
    font-size: 16px;
  }
}
