@import 'styles/variables.scss';

.main-menu {
  height: 100%;
  flex-shrink: 0;
  display: flex;
  align-items: center;

  &__list {
    height: 100%;
    display: flex;
    margin-right: -12px;
  }

  &__link {
    height: 100%;
    padding: 0 12px;
    margin: 0;
    box-sizing: border-box;

    border: 1px solid transparent;
    border-radius: 4px;
    background-color: transparent;

    color: $main-bright;
    font-family: inherit;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;

    cursor: pointer;
    transition: color 200ms;

    &:hover {
      color: $main-accent;
    }

    &:focus-visible {
      @include focus-outline($main-bright);
    }

    &_active {
      color: $main-accent;
    }
  }
}
