@import 'styles/variables.scss';

.previews {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 32px;

  &__image-container {
    position: relative;
    width: 100%;
    height: 200px
  }
}
