@import 'styles/variables.scss';

.previews {
  @extend %section-padding;

  &__list {
    display: grid;
    gap: 16px;

    margin-top: $font-size * 1.5;
  }

  &__item {
    font-size: $font-size * 1.05;
  }

  &__image {
    @extend %zoom-effect;
    cursor: pointer;
  }

  &__image-container {
    position: relative;
    width: 100%;
    margin-bottom: 8px;
  }

  &__title {
    font-weight: 500;
  }

  &_type {
    &_books {
      grid-template-columns: repeat(4, 1fr);

      .previews__image-container {
        border: 1px solid $slight-border;
        aspect-ratio: 1 / 1;
      }
    }

    &_projects, &_research {
      grid-template-columns: repeat(3, 1fr);

      .previews__image-container {
        aspect-ratio: 3 / 2;
      }
    }
  }
}

@supports not (aspect-ratio: 1 / 1) {
  .previews {
    &_type {
      &_books {
        .previews__image-container {
          height: 0;
          padding-bottom: 100%;
        }
      }

      &_projects, &_research {
        .previews__image-container {
          height: 0;
          padding-bottom: 66.6%;
        }
      }
    }
  }
}
