@import 'styles/variables.scss';

.previews {
  @extend %section-padding;

  &__list {
    display: grid;
    gap: 24px;

    margin-top: $font-size * 1.5;
  }

  &__item {
    font-size: $font-size * 1.05;
  }

  &__image {
    @extend %zoom-effect;
  }

  &__image-container {
    margin-bottom: 8px;
    display: block;

    border: 1px solid $slight-border;
    font-size: 0;
    overflow: hidden;

    &:hover {
      border: 1px solid $slight-border;
    }
  }

  &__title {
    font-weight: 500;
  }

  &_type {
    &_books {
      grid-template-columns: repeat(4, 1fr);

      @include mediaMax('xl') {
        grid-template-columns: repeat(3, 1fr);
      }

      @include mediaMax('lg') {
        grid-template-columns: repeat(2, 1fr);
      }

      @include mediaMax('sm') {
        grid-template-columns: auto;
      }
    }

    &_projects, &_research {
      grid-template-columns: repeat(3, 1fr);

      @include mediaMax('lg') {
        grid-template-columns: repeat(2, 1fr);
      }

      @include mediaMax('sm') {
        grid-template-columns: auto;
      }
    }
  }
}
