@import 'styles/variables.scss';

.projects {
  @extend %module-padding;

  display: flex;
  flex-direction: column;
  gap: $gap;

  @include mediaMax('md') {
    gap: $gap / 2;
  }

  &-container {
    padding-top: $vertical-padding;
  }

  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: $gap;

    @include mediaMax('md') {
      flex-direction: column;
      gap: $gap / 2;
    }
  }

  &__element {
    &_size {
      &_25 {
        flex: 1;
      }
      &_50 {
        flex: 2;
      }
      &_75 {
        flex: 3;
      }
    }
    &_flex {
      display: flex;
      flex-direction: column;
      gap: $font-size;
    }
  }

  &__text, &__info, &__list {
    margin: 0;

    line-height: 1.5;
    text-align: justify;
  }

  &__info {
    padding: 10px 20px;

    border: 1px solid $main-accent;
    border-radius: 10px;
  }

  &__list {
    padding: $font-size 0 0 $font-size;

    list-style: disc;
  }

  &__image {
    max-width: 100%;
  }
}

.hero {
  width: 100%;
  height: 500px;

  background-position: 50% 0;
  background-size: cover;
  background-repeat: no-repeat;

  border-bottom: 1px solid $main-text;

  @include mediaMax('sm') {
    height: 250px;
  }

  &_type {
    &_projects {
      background-image: url('/images/projects_hero.jpg');
    }

    &_research {
      background-image: url('/images/research_hero.png');
    }
  }
}
