$main-accent: #e2b13c;
$main-text: #343434;
$dim-text: #808080;
$main-bright: #fff;
$secondary-bg: #f3f6f9;
$dark-bg: #0d1923;
$link-hover: #3991dd;
$slight-border: #eee;

$side-padding: 48px;
$vertical-padding: 90px;

$gap: 56px;

$font-size: 16px;
$header-size: 36px;
$secondary-font: 'Open Sans', 'Arial', 'Helvetica', sans-serif;

$sizes: (
  'xs': 320px,
  'sm': 576px,
  'md': 768px,
  'lg': 992px,
  'xl': 1200px,
);

@mixin mediaMax($media) {
  @each $size, $resolution in $sizes {
    @if $media == $size {
      @media screen and (max-width: $resolution) {
        @content;
      }
    }
  }
}

@mixin focus-outline($color) {
  outline: none;
  box-shadow: 0 0 0 2px rgba($color, $alpha: 0.7);
}

%zoom-effect {
  transition: transform 500ms ease-out;

  &:hover {
    transform: scale(1.1);
  }
}

%section-padding {
  padding: $vertical-padding * 1.5 $side-padding $vertical-padding;
}

%module-padding {
  padding: $vertical-padding $side-padding;
}
